[submodule "tests/ut/lib/googletest"]
	path = tests/ut/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/gsl/gsl"]
	path = lib/gsl/gsl
	url = https://github.com/microsoft/GSL.git
